<!DOCTYPE html>
<html lang="en">
    <h1> MyYT uploading information </h1>

    <h5>Dear {{.username}}, </h5>

    <p>We send you that email to infortm you that your video {{.videoname}} has been
        is currently being uploading in our servers. We will inform you once this operation is complete.</p>
    </p>

    <p> Best regards, </p>
    <p> <strong> MyYT team </strong></p>

    <p> <i> This is an automatic email, please do not answer it. </i></p>

</html>

