<!DOCTYPE html>
<html lang="en">
    <h1> MyYT: Your file successfully uploaded</h1>

    <h5>Dear {{.username}}, </h5>

    <p>We are pleased to inform you that your video {{.videoname}} has been
        successfully uploaded and is now available on MyYt platform.</p>
    </p>

    <p> Best regards, </p>
    <p> <strong> MyYT team </strong></p>

    <p> <i> This is an automatic email, please do not answer it. </i></p>
</html>
